<footer class="footer">
	<div class="block_inner">
		<div class="footer_top">
			<div class="footer_menu">
				<ul>
					<li>
						<a href="">Главная</a>
					</li>
					<li>
						<a href="">О нас</a>
					</li>
					<li>
						<a href="">Доставка и оплата</a>
					</li>
					<li>
						<a href="">Отзывы</a>
					</li>
					<li>
						<a href="">Блог</a>
					</li>
				</ul>
			</div>
			<div class="copy">
				<div class="copy_site">Официальный сайт бренда "Linens Textile Studio"</div>
				<div class="copy_dev">"PRIMECALL" XK © 2009 - 2023</div>
			</div>
			<div class="stores_block">
				<div class="title">Скидки при заказе с приложения</div>
				<a href="#">
					<img src="files/appstore.svg" loading="lazy"  alt="">
				</a>
				<a href="#">
					<img src="files/g_play.svg" loading="lazy"  alt="">
				</a>
			</div>
		</div>
		<div class="footer_bottom">
			<div class="copy">
				<div class="copy_site">Официальный сайт бренда "Linens Textile Studio"</div>
				<div class="copy_dev">"PRIMECALL" XK © 2009 - 2023</div>
			</div>
			<div class="footer_links">
				<ul>
					<li><a href="">Политика конфиденциальности</a></li>
					<li><a href="">Публичная оферта</a></li>
					<li><a href="">Условия возврата/обмена</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
</div>
</div>
<div class="block_popop_modal categor_block_fixed">
	<div class="close_btn"></div>
	<div class="title">Каталог товаров</div>
	<div class="search_form">
		<form action="">
			<input type="text" placeholder="Поиск">
			<button type="submit"></button>
		</form>
	</div>
	<div class="inner_catalog">
		<div class="swiper-slide">
			<a href="">
				<span class="image">
					<img src="files/cat1.jpg" alt="">
				</span>
				<span class="name">Подушки <span>14</span></span>
			</a>
		</div>
		<div class="swiper-slide">
			<a href="">
				<span class="image">
					<img src="files/cat2.jpg" alt="">
				</span>
				<span class="name">Одеяла <span>14</span></span>
			</a>
		</div>
		<div class="swiper-slide">
			<a href="">
				<span class="image">
					<img src="files/cat3.jpg" alt="">
				</span>
				<span class="name">Скатерти <span>14</span></span>
			</a>
		</div>
		<div class="swiper-slide">
			<a href="">
				<span class="image">
					<img src="files/cat4.jpg" alt="">
				</span>
				<span class="name">Пледы <span>14</span></span>
			</a>
		</div>
		<div class="swiper-slide">
			<a href="">
				<span class="image">
					<img src="files/cat5.jpg" alt="">
				</span>
				<span class="name">Наволочки <span>14</span></span>
			</a>
		</div>
		<div class="swiper-slide">
			<a href="">
				<span class="image">
					<img src="files/cat6.jpg" alt="">
				</span>
				<span class="name">Полотенца <span>14</span></span>
			</a>
		</div>
		<div class="swiper-slide">
			<a href="">
				<span class="image">
					<img src="files/cat7.jpg" alt="">
				</span>
				<span class="name">Толстовки <span>14</span></span>
			</a>
		</div>
		<div class="swiper-slide">
			<a href="">
				<span class="image">
					<img src="files/cat8.jpg" alt="">
				</span>
				<span class="name">Футболки <span>14</span></span>
			</a>
		</div>
		<div class="swiper-slide">
			<a href="">
				<span class="image">
					<img src="files/cat9.jpg" alt="">
				</span>
				<span class="name">Простыни <span>14</span></span>
			</a>
		</div>
	</div>
</div>
<div class="block_popop_modal review_block_fixed">
	<div class="close_btn"></div>
	<div class="title">Отзывы</div>
	<div class="review_inner">
		<div class="swiper-slide" data-fancybox="review__item" href="files/review1.jpg">
			<div class="zoom_text">Увеличить</div>
			<img src="files/review1.jpg" loading="lazy" alt="service1">
		</div>
		<div class="swiper-slide" data-fancybox="review__item" href="files/review2.jpg">
			<div class="zoom_text">Увеличить</div>
			<img src="files/review2.jpg" loading="lazy" alt="service1">
		</div>
		<div class="swiper-slide" data-fancybox="review__item" href="files/review3.jpg">
			<div class="zoom_text">Увеличить</div>
			<img src="files/review3.jpg" loading="lazy" alt="service1">
		</div>
		<div class="swiper-slide" data-fancybox="review__item" href="files/review1.jpg">
			<div class="zoom_text">Увеличить</div>
			<img src="files/review1.jpg" loading="lazy" alt="service1">
		</div>
		<div class="swiper-slide" data-fancybox="review__item" href="files/review1.jpg">
			<div class="zoom_text">Увеличить</div>
			<img src="files/review1.jpg" loading="lazy" alt="service1">
		</div>
		<div class="swiper-slide" data-fancybox="review__item" href="files/review1.jpg">
			<div class="zoom_text">Увеличить</div>
			<img src="files/review1.jpg" loading="lazy" alt="service1">
		</div>
		<div class="swiper-slide" data-fancybox="review__item" href="files/review2.jpg">
			<div class="zoom_text">Увеличить</div>
			<img src="files/review2.jpg" loading="lazy" alt="service1">
		</div>
		<div class="swiper-slide" data-fancybox="review__item" href="files/review3.jpg">
			<div class="zoom_text">Увеличить</div>
			<img src="files/review3.jpg" loading="lazy" alt="service1">
		</div>
	</div>	
	<div class="title">Видео-отзывы</div>
	<div class="video_inner">
		<div class="swiper-slide" data-fancybox="review_video__item" href="https://youtu.be/_CL6n0FJZpk">
			<img src="files/video_image.jpg" loading="lazy" alt="service1">
		</div>
		<div class="swiper-slide" data-fancybox="review_video__item" href="https://youtu.be/_CL6n0FJZpk">
			<img src="files/video_image.jpg" loading="lazy" alt="service1">
		</div>
		<div class="swiper-slide" data-fancybox="review_video__item" href="https://youtu.be/_CL6n0FJZpk">
			<img src="files/video_image.jpg" loading="lazy" alt="service1">
		</div>
	</div>
	<div class="bottom">
		<a href="#" class="btn_button">Смотреть еще отзывы</a>
		<a href="#" class="btn_button second_btn">Оставить отзыв</a>
	</div>
</div>
<div class="block_popop_modal delevery_block_fixed">
	<div class="close_btn"></div>
	<div class="title">Доставка</div>
	<div class="inner_text">
		<p>
			<strong>Мы осуществляем доставку по всему Узбекистану. Срок доставки от 2 до 10 дней.</strong>
		</p>
		<p>Стоимость курьерской доставки по г. Ташкент - 25 000 сум. Стоимость курьерской доставки по Узбекистану - 30 000 сум.</p>
		<p>Доставка товаров, приобретенных в Интернет-магазине, осуществляется до складов транспортных компаний или до дверей получателя. Вместе с заказом Покупателю предоставляются документы согласно законодательству РУз (расходная накладная).</p>
		<h2>Как заказать?</h2>
		<ul>
			<li>Нажмите кнопку "Заказать" у товара, заполните поля Имя и Телефон и нажмите кнопку "Заказать"</li>
			<li>Наш менеджер свяжется с Вами в течении 30-40 минут</li>
			<li>Согласует сроки доставки и комплектацию заказа</li>
			<li>Мы доставляем и Вы оплачиваете заказ при получении курьеру</li>
		</ul>
		<h2>Оплата</h2>
		<p><strong>Оплата при получении заказа</strong><br> Наличными или на карту. </p>
	</div>
</div>
<div class="block_popop_modal send_block_fixed">
	<div class="close_btn"></div>
	<div class="btns_links">
		<a href="#" class="btn_button second_btn">
			<i><img src="files/tg.svg" alt=""></i>
			<span>Написать в Telegram</span>
		</a>
		<a href="#" class="btn_button second_btn">
			<i><img src="files/fb.svg" alt=""></i>
			<span>Написать в Facebook</span>
		</a>
		<a href="#" class="btn_button second_btn">
			<i><img src="files/ins.svg" alt=""></i>
			<span>Написать в Instagram</span>
		</a>
		<a href="#" class="btn_button second_btn" data-fancybox data-src="#application_submit"><i class="i-leave"></i>Оставить заявку</a>
		<div class="text">или</div>
		<div class="btn_button second_btn"><i class="i-call"></i>Позвонить сейчас</div>
	</div>
</div>
<div class="fancy_form_modal" id="application_submit">
	<div class="modal_box_parent">
		<div class="modal_content">
			<div class="left">
				<img src="files/form_image.jpg" alt="">
			</div>
			<div class="right">
				<div class="title">Оставить заявку</div>
				<div class="subtitle">Заполните все поля и мы свяжемся с Вами в скором времени</div>
				<form action="">
					<div class="field">
						<div class="field_name">Имя:</div>
						<input type="text" placeholder="Мадина">
					</div>
					<div class="field">
						<div class="field_name">Телефон:</div>
						<input type="text" placeholder="+998 99 000 00 00">
						<div class="filed_label">Перезвоним с 9:00 до 20:00</div>
					</div>
					<button class="btn_button">Отправить</button>
					<div class="police">Оставляя заявку, вы соглашаетесь с политикой обработки <a href="#" target="_blank">персональных данных</a></div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="fancy_buy_modal" id="buy_submit">
	<div class="modal_box_parent">
		<div class="title">Товар добавлен в корзину</div>
		<a href="" class="btn_button">Оформить заказ</a>
		<div class="link_button" data-fancybox-close>Вернуться к товарам</div>
	</div>
</div>
<div class="fixed_action_btns">
	<div class="btn_action catalog_btn">
		<div class="icon"></div>
		<div class="name">Каталог</div>
	</div>
	<div class="btn_action review_btn">
		<div class="icon">
			<div class="count">1k+</div>
		</div>
		<div class="name">Отзывы</div>
	</div>
	<div class="btn_action cart_btn" data-fancybox data-src="#cart_basket">
		<div class="icon">
			<div class="count">2</div>
		</div>
		<div class="name">Корзина</div>
	</div>
	<div class="btn_action delev_btn">
		<div class="icon"></div>
		<div class="name">Доставка</div>
	</div>
	<div class="btn_action send_btn">
		<div class="icon"></div>
		<div class="name">Написать</div>
	</div>
</div>
<div class="fixed_link">
	<a href="" target="_blank" class="tg_link">
		<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M20 40C31.0457 40 40 31.0457 40 20C40 8.9543 31.0457 0 20 0C8.9543 0 0 8.9543 0 20C0 31.0457 8.9543 40 20 40Z" fill="url(#paint0_linear_2880_11193)"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M9.0431 19.7834C14.8716 17.2522 18.7517 15.5702 20.7001 14.7543C26.2454 12.4395 27.4111 12.0398 28.1605 12.0232C28.327 12.0232 28.6934 12.0565 28.9432 12.2563C29.143 12.4229 29.193 12.6393 29.2263 12.8059C29.2596 12.9724 29.2929 13.3221 29.2596 13.5886C28.9598 16.7526 27.6609 24.4295 26.9948 27.9599C26.7117 29.4587 26.1622 29.9582 25.6293 30.0082C24.4636 30.1081 23.581 29.2422 22.4652 28.5095C20.7001 27.3604 19.7175 26.6443 18.0023 25.512C16.0206 24.213 17.3029 23.497 18.4353 22.3313C18.735 22.0315 23.8474 17.3687 23.9473 16.9524C23.964 16.9025 23.964 16.7026 23.8474 16.6027C23.7309 16.5028 23.5643 16.5361 23.4311 16.5694C23.2479 16.6027 20.4503 18.4678 15.0048 22.1481C14.2055 22.6976 13.4894 22.9641 12.8399 22.9474C12.1239 22.9308 10.7583 22.5478 9.72587 22.2147C8.47691 21.815 7.47774 21.5985 7.561 20.8991C7.61096 20.5328 8.11055 20.1664 9.0431 19.7834Z" fill="white"/>
			<defs>
			<linearGradient id="paint0_linear_2880_11193" x1="19.9833" y1="0" x2="19.9833" y2="39.6836" gradientUnits="userSpaceOnUse">
			<stop stop-color="#2AABEE"/>
			<stop offset="1" stop-color="#229ED9"/>
			</linearGradient>
			</defs>
		</svg>
	</a>
	<div class="call_button" data-fancybox data-src="#application_submit">
		<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
			<circle cx="20" cy="20" r="20" fill="url(#paint0_linear_2880_11202)"/>
			<path fill-rule="evenodd" clip-rule="evenodd" d="M16.8762 23.1238C18.8773 25.125 20.6836 25.4451 21.2711 24.8576C22.2508 23.8779 23.8472 23.8856 24.8375 24.8754L26.253 26.2914C26.8712 26.9096 26.8765 27.9075 26.264 28.52L24.9527 29.8314C24.4679 30.3162 23.7997 30.5658 23.1143 30.56C20.8127 30.5408 17.7032 28.3861 14.6586 25.3414C11.614 22.2968 9.45924 19.1874 9.44004 16.8853C9.43428 16.2003 9.68388 15.5322 10.1687 15.0469L11.48 13.736C12.0925 13.1235 13.0904 13.1288 13.7087 13.747L15.1247 15.163C16.1144 16.1528 16.1221 17.7493 15.1424 18.729C14.5549 19.3165 14.8751 21.1227 16.8762 23.1238ZM30.56 20.96C30.56 21.2146 30.4589 21.4588 30.2789 21.6388C30.0988 21.8189 29.8546 21.92 29.6 21.92C29.3454 21.92 29.1012 21.8189 28.9212 21.6388C28.7412 21.4588 28.64 21.2146 28.64 20.96C28.64 15.6579 24.3421 11.36 19.04 11.36C18.7854 11.36 18.5413 11.2589 18.3612 11.0788C18.1812 10.8988 18.08 10.6546 18.08 10.4C18.08 10.1454 18.1812 9.90121 18.3612 9.72118C18.5413 9.54114 18.7854 9.44 19.04 9.44C25.4024 9.44 30.56 14.5976 30.56 20.96ZM26.24 20.96C26.24 21.2146 26.1389 21.4588 25.9589 21.6388C25.7788 21.8189 25.5346 21.92 25.28 21.92C25.0254 21.92 24.7812 21.8189 24.6012 21.6388C24.4212 21.4588 24.32 21.2146 24.32 20.96C24.32 18.044 21.956 15.68 19.04 15.68C18.7854 15.68 18.5413 15.5789 18.3612 15.3988C18.1812 15.2188 18.08 14.9746 18.08 14.72C18.08 14.4654 18.1812 14.2212 18.3612 14.0412C18.5413 13.8611 18.7854 13.76 19.04 13.76C23.0164 13.76 26.24 16.9837 26.24 20.96Z" fill="white"/>
			<defs>
			<linearGradient id="paint0_linear_2880_11202" x1="20" y1="0" x2="20" y2="40" gradientUnits="userSpaceOnUse">
			<stop stop-color="#FA3A9F"/>
			<stop offset="1" stop-color="#DE0075"/>
			</linearGradient>
			</defs>
		</svg>
	</div>
</div>	
<div class="block_popop_modal form-popup-wrapper cart_modal">
	<div class="formExtraWrapper">
		<div class="cart_popup_modal">
			<div class="cart_inner">
				<ul class="tabs-title">
					<li class="first_cart active">Корзина</li>
					<li class="last_cart">Оформление заказа</li>
				</ul>
				<div class="tabs-block">
					<div class="cart_datals tabs-b active">
						<div class="title">Корзина</div>
						<div class="cart_products">
							<div class="cart_item">
								<a href="#" class="image">
									<img src="files/prod.jpg" loading="lazy" alt="">
								</a>
								<div class="right">
									<div class="middle_detal">
										<div><a href="" class="name">Комплект из 2-х подушек 10148</a></div>
										<div class="old_price">300 000</div>
										<div class="current_price">230 000 <span>сум</span></div>
									</div>
									<div class="amount_item">
										<button class="minus"></button>
										<input type="text" value="1">
										<button class="plus"></button>
									</div>
									<div class="delete_item"></div>
								</div>
							</div>
						</div>
						<div class="total_summ">
							<div class="name">Итого:</div>
							<div class="old_price">300 000</div>
							<div class="current_price">230 000 <span>сум</span></div>
						</div>
						<div class="buttons_cart">
							<a href="" target="_blank" class="tg_button">Заказать через Telegram</a>
							<button class="btn_button order_cart_tab">Заказать</button>
						</div>
						<div class="delevery_items">
							<div class="item">
								<div class="icon">
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M9.45852 18.5C9.22048 19.9189 7.9865 21 6.5 21C5.0135 21 3.77952 19.9189 3.54148 18.5H2C0.89543 18.5 0 17.6046 0 16.5V5C0 3.89543 0.89543 3 2 3H16.1865C17.1633 3 18.0957 3.40823 18.7583 4.12602L23.0718 8.79897C23.6686 9.4455 24 10.2931 24 11.173V16.5C24 17.6046 23.1046 18.5 22 18.5H20.4585C20.2205 19.9189 18.9865 21 17.5 21C16.0135 21 14.7795 19.9189 14.5415 18.5H9.45852ZM15.5 18C15.5 19.1046 16.3954 20 17.5 20C18.6046 20 19.5 19.1046 19.5 18C19.5 17.7239 19.7239 17.5 20 17.5H22C22.5523 17.5 23 17.0523 23 16.5V11.173C23 10.5445 22.7633 9.93906 22.337 9.47725L18.0235 4.8043C17.5502 4.29159 16.8843 4 16.1865 4H2C1.44772 4 1 4.44772 1 5V16.5C1 17.0523 1.44772 17.5 2 17.5H4C4.27614 17.5 4.5 17.7239 4.5 18C4.5 19.1046 5.39543 20 6.5 20C7.60457 20 8.5 19.1046 8.5 18C8.5 17.7239 8.72386 17.5 9 17.5H15C15.2761 17.5 15.5 17.7239 15.5 18Z" fill="#DE0075"/>
										<path fill-rule="evenodd" clip-rule="evenodd" d="M3.5 5.5H12.5C13.0523 5.5 13.5 5.94772 13.5 6.5V15C13.5 15.5523 13.0523 16 12.5 16H3.5C2.94772 16 2.5 15.5523 2.5 15V6.5C2.5 5.94772 2.94772 5.5 3.5 5.5Z" fill="#FFEEFD"/>
										<path d="M5 7.5C5.25642 7.5 5.46775 7.69302 5.49664 7.94169L5.5 8V13.5C5.5 13.7761 5.27614 14 5 14C4.74358 14 4.53225 13.807 4.50336 13.5583L4.5 13.5V8C4.5 7.72386 4.72386 7.5 5 7.5ZM8 7.5C8.25642 7.5 8.46775 7.69302 8.49664 7.94169L8.5 8V13.5C8.5 13.7761 8.27614 14 8 14C7.74358 14 7.53225 13.807 7.50336 13.5583L7.5 13.5V8C7.5 7.72386 7.72386 7.5 8 7.5ZM11 7.5C11.2761 7.5 11.5 7.72386 11.5 8V13.5C11.5 13.7761 11.2761 14 11 14C10.7239 14 10.5 13.7761 10.5 13.5V8C10.5 7.72386 10.7239 7.5 11 7.5ZM16 5.5C16.2564 5.5 16.4678 5.69302 16.4966 5.94169L16.5 6V9C16.5 9.79884 17.1245 10.4518 17.9119 10.4975L18 10.5H21C21.2761 10.5 21.5 10.7239 21.5 11C21.5 11.2564 21.307 11.4678 21.0583 11.4966L21 11.5H18C16.6556 11.5 15.5591 10.4388 15.5023 9.10845L15.5 9V6C15.5 5.72386 15.7239 5.5 16 5.5Z" fill="#DE0075"/>
									</svg>
								</div>
								<div class="body">
									<div class="name">Доставка по Узбекистану 3-7 дней</div>
									<div class="text">При заказе от 500 000 сум доставим бесплатно</div>
								</div>
							</div>
							<div class="item">
								<div class="icon">
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M2.5 3H19C20.3807 3 21.5 4.11929 21.5 5.5V16C21.5 17.3807 20.3807 18.5 19 18.5H2.5C1.11929 18.5 0 17.3807 0 16V5.5C0 4.11929 1.11929 3 2.5 3ZM2.5 4C1.67157 4 1 4.67157 1 5.5V16C1 16.8284 1.67157 17.5 2.5 17.5H19C19.8284 17.5 20.5 16.8284 20.5 16V5.5C20.5 4.67157 19.8284 4 19 4H2.5Z" fill="#DE0075"/>
										<path fill-rule="evenodd" clip-rule="evenodd" d="M18 9.5C18.5523 9.5 19 9.94772 19 10.5V15C19 15.5523 18.5523 16 18 16H3.5C2.94772 16 2.5 15.5523 2.5 15V10.5C2.5 9.94772 2.94772 9.5 3.5 9.5H18ZM18 5.5C18.5523 5.5 19 5.94772 19 6.5V7C19 7.55228 18.5523 8 18 8H3.5C2.94772 8 2.5 7.55228 2.5 7V6.5C2.5 5.94772 2.94772 5.5 3.5 5.5H18Z" fill="#FFEEFD"/>
										<path d="M23.5 8C23.7564 8 23.9678 8.19302 23.9966 8.44169L24 8.5V18.5C24 19.8444 22.9388 20.9409 21.6084 20.9977L21.5 21H5.5C5.22386 21 5 20.7761 5 20.5C5 20.2436 5.19302 20.0322 5.44169 20.0034L5.5 20H21.5C22.2988 20 22.9518 19.3755 22.9975 18.5881L23 18.5V8.5C23 8.22386 23.2239 8 23.5 8ZM4.5 13.5H8C8.27614 13.5 8.5 13.7239 8.5 14C8.5 14.2564 8.30698 14.4678 8.05831 14.4966L8 14.5H4.5C4.22386 14.5 4 14.2761 4 14C4 13.7436 4.19302 13.5322 4.44169 13.5034L4.5 13.5ZM12.5 13.5C12.7761 13.5 13 13.7239 13 14C13 14.2761 12.7761 14.5 12.5 14.5H10.5C10.2239 14.5 10 14.2761 10 14C10 13.7239 10.2239 13.5 10.5 13.5H12.5Z" fill="#DE0075"/>
									</svg>
								</div>
								<div class="body">
									<div class="name">Оплата при получении заказа</div>
									<div class="text">Если товар не соответствует заявленному качеству, можете не платить</div>
								</div>
							</div>
						</div>	
						<div class="slider_products_cart">
							<div class="title_name">С этим товаром покупают</div>
							<div class="inner">
								<div class="swiper_arrow">
									<div class="swiper_arrow_btn swiper-hp-prev"></div>
									<div class="swiper_arrow_btn swiper-hp-next"></div>
								</div>
								<div class="swiper mySwiper_product_hp" data-id="mySwiper_product_hp">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="item_product">
												<div class="image">
													<img src="files/prod.jpg" loading="lazy" alt="">
												</div>
												<div class="in">
													<div class="name">
														<a href="">Комплект из 2-х подушек, черные</a>
													</div>
													<div class="prices">
														<div class="old_price">300 000</div>
														<div class="current_price">230 000 <span>сум</span></div>
													</div>
													<div class="btn_button" data-fancybox data-src="#buy_submit">Добавить</div>
												</div>
											</div>		
										</div>
										<div class="swiper-slide">
											<div class="item_product">
												<div class="image">
													<img src="files/prod.jpg" loading="lazy" alt="">
												</div>
												<div class="in">
													<div class="name">
														<a href="">Комплект из 2-х подушек, черные</a>
													</div>
													<div class="prices">
														<div class="old_price">300 000</div>
														<div class="current_price">230 000 <span>сум</span></div>
													</div>
													<div class="btn_button" data-fancybox data-src="#buy_submit">Добавить</div>
												</div>
											</div>	
										</div>
										<div class="swiper-slide">
											<div class="item_product">
												<div class="image">
													<img src="files/prod.jpg" loading="lazy" alt="">
												</div>
												<div class="in">
													<div class="name">
														<a href="">Комплект из 2-х подушек, черные</a>
													</div>
													<div class="prices">
														<div class="old_price">300 000</div>
														<div class="current_price">230 000 <span>сум</span></div>
													</div>
													<div class="btn_button" data-fancybox data-src="#buy_submit">Добавить</div>
												</div>
											</div>	
										</div>
										<div class="swiper-slide">
											<div class="item_product">
												<div class="image">
													<img src="files/prod.jpg" loading="lazy" alt="">
												</div>
												<div class="in">
													<div class="name">
														<a href="">Комплект из 2-х подушек, черные</a>
													</div>
													<div class="prices">
														<div class="old_price">300 000</div>
														<div class="current_price">230 000 <span>сум</span></div>
													</div>
													<div class="btn_button" data-fancybox data-src="#buy_submit">Добавить</div>
												</div>
											</div>	
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="buttons_cart">
							<a href="" target="_blank" class="tg_button">Заказать через Telegram</a>
							<button class="btn_button order_cart_tab">Заказать</button>
						</div>
					</div>
					<div class="right_form_order tabs-b">
						<div class="title">Оформление заказа</div>
						<div class="subtitle">Заполните все поля и мы свяжемся с Вами в скором времени</div>
						<div class="field">
							<div class="field_name">Имя:</div>
							<input type="text" placeholder="Мадина">
						</div>
						<div class="field">
							<div class="field_name">Телефон:</div>
							<input type="text" placeholder="+998 99 000 00 00">
							<div class="filed_label">Перезвоним с 9:00 до 20:00</div>
						</div>
						<div class="field">
							<div class="field_name">Способ оплаты:</div>
							<select name="" id="">
								<option value="Оплата курьеру">Оплата курьеру</option>
								<option value="Оплата курьеру">Оплата курьеру</option>
								<option value="Оплата курьеру">Оплата курьеру</option>
							</select>
						</div>
						<button class="btn_button">Заказать</button>
						<div class="police">Оставляя заявку, вы соглашаетесь с политикой обработки <a href="#" target="_blank">персональных данных</a></div>
						<a href="" target="_blank" class="tg_button">Заказать через Telegram</a>
					</div>
				</div>
			</div>
		</div>			
		<div class="close_btn"></div>
	</div>
</div>						
<script src="js/jquery.fancybox.min.js" async></script>
<script src="js/swiper-bundle.min.js" async></script>
<script src="js/main.js" async></script>
</body>
</html>