<footer class="footer">
	<div class="block_inner">
		<div class="footer_top">
			<div class="footer_menu">
				<ul>
					<li>
						<a href="">Главная</a>
					</li>
					<li>
						<a href="">О нас</a>
					</li>
					<li>
						<a href="">Доставка и оплата</a>
					</li>
					<li>
						<a href="">Отзывы</a>
					</li>
					<li>
						<a href="">Блог</a>
					</li>
				</ul>
			</div>
			<div class="copy">
				<div class="copy_site">Официальный сайт бренда "Linens Textile Studio"</div>
				<div class="copy_dev">"PRIMECALL" XK © 2009 - 2023</div>
			</div>
			<div class="stores_block">
				<div class="title">Скидки при заказе с приложения</div>
				<a href="#">
					<img src="files/appstore.svg" alt="">
				</a>
				<a href="#">
					<img src="files/g_play.svg" alt="">
				</a>
			</div>
		</div>
		<div class="footer_bottom">
			<div class="copy">
				<div class="copy_site">Официальный сайт бренда "Linens Textile Studio"</div>
				<div class="copy_dev">"PRIMECALL" XK © 2009 - 2023</div>
			</div>
			<div class="footer_links">
				<ul>
					<li><a href="">Политика конфиденциальности</a></li>
					<li><a href="">Публичная оферта</a></li>
					<li><a href="">Условия возврата/обмена</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="js/swiper-bundle.min.js" async></script>
<script src="js/main.js" async></script>
</body>
</html>