<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Тайтл</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/swiper-bundle.min.css">
	<link rel="stylesheet" href="css/jquery.fancybox.min.css"/>
	<link rel="stylesheet" href="css/main.css">
	
</head>
<body>
	<header class="header">
		<div class="header_top">
			<div class="block_inner">
				<ul class="menu_header">
					<li><a href="">Подушки</a></li>
					<li><a href="">Одеяла</a></li>
					<li><a href="">Скатерти</a></li>
					<li><a href="">Пледы</a></li>
					<li><a href="">Наволочки</a></li>
					<li><a href="">Полотенца</a></li>
					<li><a href="">Толстовки</a></li>
					<li><a href="">Футболки</a></li>
					<li><a href="">Простыни</a></li>
				</ul>
				<div class="cart_mini_fixed">
					<div class="cart_mini cart_btn">
						<div class="cart_block">
							<span>Корзина</span>
							<div class="count">2</div>
						</div>
					</div>
				</div>
				<div class="link_delevery">
					<a href="">Доставка по Узбекистану. Оплата при получении!</a>
				</div>
			</div>
		</div>
		<div class="header_bottom">
			<div class="block_inner">
				<div class="logo">
					<a href="">
						<img src="files/logo.svg" alt="">
					</a>
				</div>
				<div class="company"><span>Текстильная продукция высокого качества</span></div>
				<div class="link">
					<a href="#" class="delevery_btn">Доставка и оплата</a>
				</div>
				<div class="contacts_head">
					<div class="time">с 9:00 до 21:00</div>
					<div class="phone"><a href="tel:+998781220988">+998 <span>(78) 122-09-88</span></a></div>
				</div>
				<div class="lang_block">
					<a href="">uz</a>
				</div>
				<div class="cart_mini cart_btn">
					<div class="cart_block">
						<span>Корзина</span>
						<div class="count">2</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="slider_banner_block">
		<div class="block_inner">
			<div class="left_slider">
				<div class="swiper mySwiper" data-id="mySwiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<a href="">
								<img src="files/banner-preview3.jpg" loading="lazy" width="800" height="253" alt="">
							</a>
						</div>
						<div class="swiper-slide">
							<a href="">
								<img src="files/banner-preview2.jpg" loading="lazy" width="800" height="253" alt="">
							</a>
						</div>
						<div class="swiper-slide">
							<a href="">
								<img src="files/banner-preview1.jpg" loading="lazy" width="800" height="253" alt="">
							</a>
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
			<div class="right_timer">
				<div class="title">Закажите сейчас и получите <strong>скидку до 33% на все!</strong></div>
				<div class="timer_wrap">
					<div class="text">До конца акции:</div>
					<div class="text_fixed">Скидки до 33%:</div>
					<div class="timer_main">
						<div id="timer"></div>
					</div>
				</div>
			</div>
		</div>
	</div>	