<div class="item_product">
	<div class="image">
		<div class="labels">
			<div class="label_left">
				<div class="spes">Хит продаж</div>
				<div class="new">NEW</div>
			</div>
			<div class="discount">18%</div>
		</div>
		<div class="swiper mySwiper_product_image" data-id="mySwiper_product_image">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="files/prod.jpg" alt="">
				</div>
				<div class="swiper-slide">
					<img src="files/prod.jpg" alt="">
				</div>
				<div class="swiper-slide">
					<img src="files/prod.jpg" alt="">
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
	<div class="name">
		<a href="">Комплект из 2-х подушек, черные</a>
	</div>
	<div class="anons">Стеганные подушки из холофайбера смешанный с силиконом (для лучшего возврата формы + гипоалергенный)</div>
	<div class="params">
		<ul>
			<li>
				<div class="icon">
					<img src="files/quality.svg" alt="">
				</div>
				<strong>Производство:</strong>
				<span>Германия</span>
			</li>
			<li>
				<div class="icon">
					<img src="files/roll.svg" alt="">
				</div>
				<strong>Материал:</strong>
				<span>Стеганный супер-сатин 100% ХБ</span>
			</li>
			<li>
				<div class="icon">
					<img src="files/filler.svg" alt="">
				</div>
				<strong>Наполнитель:</strong>
				<span>Холофайбер + силиконом</span>
			</li>
			<li>
				<div class="icon">
					<img src="files/density.svg" alt="">
				</div>
				<strong>Плотность ткани:</strong>
				<span>120 гр.</span>
			</li>
		</ul>
	</div>
	<div class="price_btn">
		<div class="prices">
			<div class="old_price">300 000</div>
			<div class="current_price">230 000 <span>сум</span></div>
		</div>
		<div class="btn_button">Заказать</div>
	</div>
	<div class="bottom">
		<div class="info_order">Купили 62 раза</div>
		<div class="count_product">Осталось 32 шт.</div>
	</div>
</div>			