include _header.jade
	<div class="content_block_main">
		<div class="block_inner">
			<h1>Подушки</h1>
			<div class="text_body">
				<div class="image">
					<img src="files/guarantee.png" alt="">
				</div>
				<div class="body">Самый современный вариант — это подушка с холлофайбером. Это упругий материал, который практически не слеживается. Подушки немецкого производства, изготовленные нашими зарубежными партнерами характеризуются удобством, надежностью, экологичностью и приемлемыми для Узбекистана ценами. ТОЛЬКО У НАС! ОПЛАТА ПРИ ПОЛУЧЕНИИ! При курьере вы можете проверить свой заказ. Если заказ не соответствует заявленному качеству, можно его вернуть.</div>
			</div>
			<div class="product_items_wr">
				include _item-product.jade
				include _item-product.jade
				include _item-product.jade
				include _item-product.jade
				include _item-product.jade
				include _item-product.jade
			</div>
		</div>
	</div>
	<div class="btn_questions_wr">
		<div class="block_inner">
			<div class="left">
				<div class="title">Успей заказать!</div>
				<div class="subtitle">Количество ограничено</div>
			</div>
			<div class="phone">
				<a href="tel:+998 (78) 122-09-88">+998 (78) 122-09-88</a>
			</div>
			<div class="soc_block">
				<a href="#">
					<img src="files/tg.svg" alt="">
				</a>
				<a href="#">
					<img src="files/fb.svg" alt="">
				</a>
				<a href="#">
					<img src="files/ins.svg" alt="">
				</a>
			</div>
			<div class="btn_button">Оставить заявку</div>
		</div>
	</div>
	<div class="prem_block_wr">
		<div class="block_inner">
			<div class="swiper mySwiper_prem" data-id="mySwiper_prem">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="icon">
							<img src="files/preim1.svg" alt="">
						</div>
						<div class="text">Пошив производится в филиалах Германии, Гонконга</div>
					</div>
					<div class="swiper-slide">
						<div class="icon">
							<img src="files/preim2.svg" alt="">
						</div>
						<div class="text">Пошив продукции по европейским стандартам качества</div>
					</div>
					<div class="swiper-slide">
						<div class="icon">
							<img src="files/preim3.svg" alt="">
						</div>
						<div class="text">Получите товары без предоплаты</div>
					</div>
					<div class="swiper-slide">
						<div class="icon">
							<img src="files/preim4.svg" alt="">
						</div>
						<div class="text">Вся продукция проходит контроль качества в ручную</div>
					</div>
					<div class="swiper-slide">
						<div class="icon">
							<img src="files/preim1.svg" alt="">
						</div>
						<div class="text">Вся продукция проходит контроль качества в ручную</div>
					</div>
				</div>
			</div>
			<div class="swiper_arrow">
				<div class="swiper_arrow_btn swiper-prem-prev"></div>
				<div class="swiper-prem-pagination"></div>
				<div class="swiper_arrow_btn swiper-prem-next"></div>
			</div>
		</div>
	</div>
	<div class="review_block_wr">
		<div class="block_inner">
			<div class="title">Отзывы</div>
			<div class="subtitle">Нам доверяют более 5000 клиентов</div>
			<div class="inner">
				<div class="swiper_arrow">
					<div class="swiper_arrow_btn swiper-review-prev"></div>
					<div class="swiper_arrow_btn swiper-review-next"></div>
				</div>
				<div class="swiper mySwiper_reviews" data-id="mySwiper_reviews">
					<div class="swiper-wrapper">
						<div class="swiper-slide" data-fancybox="service__item" href="files/review1.jpg">
							<div class="zoom_text">Увеличить</div>
							<img src="files/review1.jpg" loading="lazy" alt="service1">
						</div>
						<div class="swiper-slide" data-fancybox="service__item" href="files/review2.jpg">
							<div class="zoom_text">Увеличить</div>
							<img src="files/review2.jpg" loading="lazy" alt="service1">
						</div>
						<div class="swiper-slide" data-fancybox="service__item" href="files/review3.jpg">
							<div class="zoom_text">Увеличить</div>
							<img src="files/review3.jpg" loading="lazy" alt="service1">
						</div>
						<div class="swiper-slide" data-fancybox="service__item" href="files/review1.jpg">
							<div class="zoom_text">Увеличить</div>
							<img src="files/review1.jpg" loading="lazy" alt="service1">
						</div>
						<div class="swiper-slide" data-fancybox="service__item" href="files/review1.jpg">
							<div class="zoom_text">Увеличить</div>
							<img src="files/review1.jpg" loading="lazy" alt="service1">
						</div>
					</div>
				</div>
			</div>
			<div class="more_link">
				<a href="" class="btn_button_white">Смотреть все</a>
			</div>
		</div>
	</div>
	<div class="confidence_block_wr">
		<div class="block_inner">
			<div class="title">Доверие покупателей с 2009 года</div>
			<div class="inner col_2">
				<div class="item">
					<div class="icon">
						<img src="files/pr1.svg" alt="">
					</div>
					<div class="right">
						<div class="name">Доставка по Узбекистану</div>
						<div class="body">После вашей заявки, мы перезвоним и сообщим точный срок доставки</div>
					</div>
				</div>
				<div class="item">
					<div class="icon">
						<img src="files/pr2.svg" alt="">
					</div>
					<div class="right">
						<div class="name">Только качественные материалы</div>
						<div class="body">Наше белье не выцветает после стирки, не линяет и не теряет формы</div>
					</div>
				</div>
				<div class="item">
					<div class="icon">
						<img src="files/pr3.svg" alt="">
					</div>
					<div class="right">
						<div class="name">Оплата при получении заказа</div>
						<div class="body">Если товар не соответствует заявленному качеству, можете не платить</div>
					</div>
				</div>
				<div class="item">
					<div class="icon">
						<img src="files/pr4.svg" alt="">
					</div>
					<div class="right">
						<div class="name">Гарантия замены товара</div>
						<div class="body">Если обнаружен брак мы заменим вам товар, либо вернем деньги.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="order_to_block_wr">
		<div class="block_inner">
			<div class="left">
				<div class="title">Как заказать?</div>
				<ul>
					<li>Нажмите кнопку "Заказать" у товара, заполните поля Имя и Телефон и нажмите кнопку "Заказать"</li>
					<li>Наш менеджер свяжется с Вами в течении 30-40 минут</li>
					<li>Согласует сроки доставки и комплектацию заказа</li>
					<li>Мы доставляем и Вы оплачиваете заказ при получении курьеру</li>
				</ul>
			</div>
			<div class="right">
				<img src="files/or.jpg" alt="">
			</div>
		</div>
	</div>
	<div class="production_block_wr">
		<div class="block_inner">
			<div class="title">Наше производство</div>
			<div class="inner">
				<div class="map_points_block">
					<img src="files/map_pic.png" alt="" loading="lazy">
					<div class="point" style="top: 26%;right: 50%;"><i></i><span>Германия</span></div>
					<div class="point" style="top: 35%;right: 43%;"><i></i><span>Турция</span></div>
					<div class="point" style="top: 33%;right: 32%;"><i></i><span>Узбекистан</span></div>
					<div class="point" style="top: 44%;right: 20%;"><i></i><span>Гонконг</span></div>
				</div>
				<div class="left">
					<div class="row">
						<div class="item" data-fancybox="production__item" href="files/production1.jpg">
							<img src="files/production1.jpg" loading="lazy" alt="production">
						</div>
						<div class="item" data-fancybox="production__item" href="files/production2.jpg">
							<img src="files/production2.jpg" loading="lazy" alt="production">
						</div>
					</div>
					<div class="row">
						<div class="item" data-fancybox="production__item" href="files/production3.jpg">
							<img src="files/production3.jpg" loading="lazy" alt="production">
						</div>
						<div class="item" data-fancybox="production__item" href="files/production4.jpg">
							<img src="files/production4.jpg" loading="lazy" alt="production">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="btn_questions_wr">
		<div class="block_inner">
			<div class="left">
				<div class="title">Остались вопросы?</div>
				<div class="subtitle">Свяжитесь с нами удобным способом</div>
			</div>
			<div class="phone">
				<a href="tel:+998 (78) 122-09-88">+998 (78) 122-09-88</a>
			</div>
			<div class="soc_block">
				<a href="#">
					<img src="files/tg.svg" alt="">
				</a>
				<a href="#">
					<img src="files/fb.svg" alt="">
				</a>
				<a href="#">
					<img src="files/ins.svg" alt="">
				</a>
			</div>
			<div class="btn_button">Оставить заявку</div>
		</div>
	</div>
include _footer.jade