include _header.jade
	<div class="content_block_main text_page">
		<div class="block_inner">
			<a href="" class="btn_link">Все статьи</a>
			<h1>Cтирка пухового одеяла</h1>
			<p>Особое распространение получило приобретение пухового одеяла у жителей регионов с холодным климатом. Ведь оно очень теплое и имеет небольшой вес. Уютное изделие будет оберегать ваш сон, позволит в полной мере выспаться и ощущать прилив сил целый день.</p>
			<p>Большинство хозяек часто задают вопрос: "Можно ли стирать пуховое одеяло?" Одеяло можно стирать, но важно соблюдать рекомендации по уходу, тогда одеяло прослужит вам не один год.</p>
			<p>Стирка пухового одеяла не доставляет никаких хлопот: пух не сбивается и не меняет свою первоначальную форму даже после многократных стирок. Его можно стирать любым способом и сдавать в химчистку. Знание методов стирки пухового одеяла непременно будет полезно вам.</p>
			<p>
				<img src="files/image1.jpg" alt="">
			</p>
			<h2>Ручная стирка</h2>
			<p>Ручной способ стирки пухового одеяла - достаточно тяжелая работа. Производители советуют использовать специализированные средства для уходом за изделиями из пуха.</p>
			<p>Если вы собрались постирать вещь вручную, для начала замочите ее в теплом водном растворе на один час. Вы можете сделать мыльный раствор самостоятельно, используя для этого обычное хозяйственное мыло. Чтобы полностью вымыть чистящее средство необходимо аккуратно прополоскать вещь в чистой воде не менее 3-х раз, избегая при этом грубых резких движений. Для устранения пятен можно воспользоваться мягкой щеткой, которая без вреда удалит загрязнения.</p>
			<p>Оставьте одеяло на некоторое время отмокать, дайте лишней воде стечь. Сушите вещь в расправленном виде, чтобы наполнитель не сбился в комки. Важно, чтобы он высушился быстро и качественно, и восстановил прежнюю свою форму. Очень хорошо сушится изделие на свежем воздухе в теплое время года. В процессе сушки от времени взбивайте одеяло, это позволит ему быстрее восстановить свою форму!</p>
			<p>Если нет возможности просушить его на улице, то в этих целях можно использовать коммерческую домашнюю сушилку. В домашних условиях, при комнатной температуре выше 25 градусов одеяло, как правило, высыхает за 1,5-2 дня. Для того, чтобы оно сохло быстрее, можно направить на него поток теплого, но не горячего воздуха от комнатного вентилятора. Кроме этого, можно повесить вещь сушиться на балкон, но при условии, что на нее не будут попадать прямые солнечные лучи.</p>
			<h3>Что НЕ нужно делать:</h3>
			<ul>
				<li>Не используйте отбеливатели.</li>
				<li>После полоскания не нужно торопиться и скорее выжимать вручную из пухового изделия остатки воды. Оставьте одеяло в тишине и спокойствии, позвольте воде стечь самостоятельно. Займитесь другими домашними делами, пока вещь будет отмокать.</li>
				<li>Ни в коем случае не сушите такие вещи вблизи отопительных приборов! Так наполнитель может не только сбиться в комья, но и пожелтеть.</li>
				<li>Старайтесь не сидеть и не лежать на одеяле из пуха долго, если хотите, чтобы оно оставалось таким же мягким, красивым и пушистым.</li>
				<li>Не стирайте пуховые изделия слишком часто. Частые и неоправданные стирки только ухудшат качество наполнителя, и уменьшат срок службы. Оптимальнее всего подвергать их стирке не чаще чем раз в год. При наличии серьезных загрязнений, допустима легкая чистка.</li>
				<li>Не храните пуховые предметы в местах повышенной влажности.</li>
			</ul>
			<a href="" class="btn_link">Все статьи</a>
		</div>
	</div>
include _footer.jade