include _header.jade
	<div class="blog_block_wr">
		<div class="block_inner">
			<h1>Интересные статьи</h1>
			<div class="inner">
				<div class="item_blog">
					<a href="" class="image">
						<img src="files/blog1.jpg" alt="">
					</a>
					<div class="name">
						<a href="">Как ухаживать за постельным бельем?</a>
					</div>
					<div class="body">Правильный уход за постельным бельем включает 4 этапа: стирку, сушку, глажку и хранение. Некоторые хозяйки совершают</div>
					<div class="bottom"><a href="" class="btn_button">Читать статью</a></div>
				</div>
				<div class="item_blog">
					<a href="" class="image">
						<img src="files/blog2.jpg" alt="">
					</a>
					<div class="name">
						<a href="">Как выбрать одеяло</a>
					</div>
					<div class="body">Правильный уход за постельным бельем включает 4 этапа: стирку, сушку, глажку и хранение. Некоторые хозяйки совершают</div>
					<div class="bottom"><a href="" class="btn_button">Читать статью</a></div>
				</div>
				<div class="item_blog">
					<a href="" class="image">
						<img src="files/blog3.jpg" alt="">
					</a>
					<div class="name">
						<a href="">Как ухаживать за постельным бельем?</a>
					</div>
					<div class="body">Правильный уход за постельным бельем включает 4 этапа: стирку, сушку, глажку и хранение. Некоторые хозяйки совершают</div>
					<div class="bottom"><a href="" class="btn_button">Читать статью</a></div>
				</div>
				<div class="item_blog">
					<a href="" class="image">
						<img src="files/blog4.jpg" alt="">
					</a>
					<div class="name">
						<a href="">Как ухаживать за постельным бельем?</a>
					</div>
					<div class="body">Правильный уход за постельным бельем включает 4 этапа: стирку, сушку, глажку и хранение. Некоторые хозяйки совершают</div>
					<div class="bottom"><a href="" class="btn_button">Читать статью</a></div>
				</div>
				<div class="item_blog">
					<a href="" class="image">
						<img src="files/blog5.jpg" alt="">
					</a>
					<div class="name">
						<a href="">Как ухаживать за постельным бельем?</a>
					</div>
					<div class="body">Правильный уход за постельным бельем включает 4 этапа: стирку, сушку, глажку и хранение. Некоторые хозяйки совершают</div>
					<div class="bottom"><a href="" class="btn_button">Читать статью</a></div>
				</div>
			</div>
			<div class="page_list_wr">
				<div class="arrow_btn arrow_btn_prev disabled"></div>
				<span class="number active">1</span>
				<a href="" class="number">2</a>
				<a href="" class="number">3</a>
				<a href="" class="number">4</a>
				<a href="" class="number">5</a>
				<span class="number dotted">...</span>
				<a href="" class="number">12</a>
				<div class="arrow_btn arrow_btn_next">Следующая</div>
			</div>
		</div>
	</div>
include _footer.jade