include _header.jade
	<div class="content_block_main text_page">
		<div class="block_inner">
			<h1>Подушки</h1>
			<p>Все заявки на подбор оформлялись по телефону. На это уходило от 15 минут до нескольких часов. Сначала менеджеры заполняли вручную данные по клиенту и пожелания по автомобилю. Затем заказ со всеми деталями отправляли в отдельный чат WhatsApp с экспертами по подбору. Там 200 человек между собой решали, кто берёт заказ. Менеджеры вручную отслеживали, какой эксперт взял заявку в работу. На назначение и согласование уходило по несколько часов. Пока ждали, заявка могла слететь, а клиент — отказаться от услуги.</p>
			<p>
				<img src="files/image1.jpg" alt="">
			</p>
			<h2>Заголовок h2</h2>
			<p>Кроме этого менеджерам приходилось заниматься операционкой: не было никаких автоматических оповещений или рассылок. По каждому шагу нужно было звонить клиенту и выяснять: прошла ли оплата, заполнил ли он договор, выехал ли к нему эксперт и так далее. А если, например, машину продали, пока клиент ехал на встречу, начиналось по новой. Менеджеры опять сидели на телефоне, вручную меняли статусы заявки и согласовывали эксперта.</p>
			<p>Если были «сомневающиеся» клиенты, их нужно было дожать до покупки. Это снова по несколько часов телефонных разговоров. Получалось, что 60% времени менеджеров уходило на коммуникации по заказам вместо продаж.</p>
			<p>
				<img src="files/image2.jpg" alt=""> &nbsp;&nbsp; <img src="files/image3.jpg" alt="">
			</p>
			<h3>Заголовок h3</h3>
			<ul>
				<li>Все заявки на подбор оформлялись по телефону.</li>
				<li>На это уходило от 15 минут до нескольких часов.</li>
				<li>Сначала менеджеры заполняли вручную данные по клиенту и пожелания по автомобилю.</li>
				<li>Затем заказ со всеми деталями отправляли в отдельный чат WhatsApp с экспертами по подбору.</li>
				<li>Там 200 человек между собой решали, кто берёт заказ.</li>
				<li>Менеджеры вручную отслеживали, какой эксперт взял заявку в работу.</li>
				<li>На назначение и согласование уходило по несколько часов.</li>
				<li>Пока ждали, заявка могла слететь, а клиент — отказаться от услуги.</li>
			</ul>
			<h4>Заголовок h4,5,6</h4>
			<ol>
				<li>Все заявки на подбор оформлялись по телефону.</li>
				<li>На это уходило от 15 минут до нескольких часов.</li>
				<li>Сначала менеджеры заполняли вручную данные по клиенту и пожелания по автомобилю.</li>
				<li>Затем заказ со всеми деталями отправляли в отдельный чат WhatsApp с экспертами по подбору.</li>
				<li>Там 200 человек между собой решали, кто берёт заказ.</li>
				<li>Менеджеры вручную отслеживали, какой эксперт взял заявку в работу.</li>
				<li>На назначение и согласование уходило по несколько часов.</li>
				<li>Пока ждали, заявка могла слететь, а клиент — отказаться от услуги.</li>
			</ol>
		</div>
	</div>
include _footer.jade