include _header.jade
	
	<div class="categor_block_wr">
		<div class="block_inner">
			<div class="swiper mySwiper_categor" data-id="mySwiper_categor">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<a href="">
							<span class="image">
								<img src="files/cat1.jpg" alt="">
							</span>
							<span class="name">Подушки <span>14</span></span>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="">
							<span class="image">
								<img src="files/cat2.jpg" alt="">
							</span>
							<span class="name">Одеяла <span>14</span></span>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="">
							<span class="image">
								<img src="files/cat3.jpg" alt="">
							</span>
							<span class="name">Скатерти <span>14</span></span>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="">
							<span class="image">
								<img src="files/cat4.jpg" alt="">
							</span>
							<span class="name">Пледы <span>14</span></span>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="">
							<span class="image">
								<img src="files/cat5.jpg" alt="">
							</span>
							<span class="name">Наволочки <span>14</span></span>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="">
							<span class="image">
								<img src="files/cat6.jpg" alt="">
							</span>
							<span class="name">Полотенца <span>14</span></span>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="">
							<span class="image">
								<img src="files/cat7.jpg" alt="">
							</span>
							<span class="name">Толстовки <span>14</span></span>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="">
							<span class="image">
								<img src="files/cat8.jpg" alt="">
							</span>
							<span class="name">Футболки <span>14</span></span>
						</a>
					</div>
					<div class="swiper-slide">
						<a href="">
							<span class="image">
								<img src="files/cat9.jpg" alt="">
							</span>
							<span class="name">Простыни <span>14</span></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="preim_block_wr">
		<div class="block_inner">
			<div class="item">
				<div class="icon">
					<img src="files/cup.svg" alt="">
				</div>
				<div class="text">
					<div class="name">Более 200 положительных отзывов!</div>
					<a href="">Читать все</a>
				</div>
			</div>
			<div class="item">
				<div class="icon">
					<img src="files/duo-delivery.svg" alt="">
				</div>
				<div class="text">
					<div class="name">Доставка по Узбекистану 3-7 дней</div>
					<div class="body">При заказе от 500 000 сум доставим бесплатно</div>
				</div>
			</div>
			<div class="item">
				<div class="icon">
					<img src="files/duo-card-pay.svg" alt="">
				</div>
				<div class="text">
					<div class="name">Оплата при получении заказа</div>
					<div class="body">Если товар не соответствует заявленному качеству, можете не платить</div>
				</div>
			</div>
		</div>
	</div>	
	<div class="slider_products_wr">
		<div class="block_inner">
			<div class="title">
				<div class="name_title">Новинки</div>
				<div class="more_link">
					<a href="" class="btn_button_white">Смотреть все</a>
				</div>
			</div>
			<div class="inner">
				<div class="swiper_arrow">
					<div class="swiper_arrow_btn swiper-new-prev"></div>
					<div class="swiper_arrow_btn swiper-new-next"></div>
				</div>
				<div class="swiper mySwiper_product_new" data-id="mySwiper_product_new">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							include _item-product.jade
						</div>
						<div class="swiper-slide">
							include _item-product.jade
						</div>
						<div class="swiper-slide">
							include _item-product.jade
						</div>
						<div class="swiper-slide">
							include _item-product.jade
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="review_block_wr">
		<div class="block_inner">
			<div class="title">Отзывы</div>
			<div class="subtitle">Нам доверяют более 5000 клиентов</div>
			<div class="inner">
				<div class="swiper_arrow">
					<div class="swiper_arrow_btn swiper-review-prev"></div>
					<div class="swiper_arrow_btn swiper-review-next"></div>
				</div>
				<div class="swiper mySwiper_reviews" data-id="mySwiper_reviews">
					<div class="swiper-wrapper">
						<div class="swiper-slide" data-fancybox="service__item" href="files/review1.jpg">
							<div class="zoom_text">Увеличить</div>
							<img src="files/review1.jpg" loading="lazy" alt="service1">
						</div>
						<div class="swiper-slide" data-fancybox="service__item" href="files/review2.jpg">
							<div class="zoom_text">Увеличить</div>
							<img src="files/review2.jpg" loading="lazy" alt="service1">
						</div>
						<div class="swiper-slide" data-fancybox="service__item" href="files/review3.jpg">
							<div class="zoom_text">Увеличить</div>
							<img src="files/review3.jpg" loading="lazy" alt="service1">
						</div>
						<div class="swiper-slide" data-fancybox="service__item" href="files/review1.jpg">
							<div class="zoom_text">Увеличить</div>
							<img src="files/review1.jpg" loading="lazy" alt="service1">
						</div>
						<div class="swiper-slide" data-fancybox="service__item" href="files/review1.jpg">
							<div class="zoom_text">Увеличить</div>
							<img src="files/review1.jpg" loading="lazy" alt="service1">
						</div>
					</div>
				</div>
			</div>
			<div class="more_link">
				<a href="" class="btn_button_white">Смотреть все</a>
			</div>
		</div>
	</div>
	<div class="slider_products_wr">
		<div class="block_inner">
			<div class="title">
				<div class="name_title">Хиты продаж</div>
				<div class="more_link">
					<a href="" class="btn_button_white">Смотреть все</a>
				</div>
			</div>
			<div class="inner">
				<div class="swiper_arrow">
					<div class="swiper_arrow_btn swiper-hit-prev"></div>
					<div class="swiper_arrow_btn swiper-hit-next"></div>
				</div>
				<div class="swiper mySwiper_product_hit" data-id="mySwiper_product_hit">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							include _item-product.jade
						</div>
						<div class="swiper-slide">
							include _item-product.jade
						</div>
						<div class="swiper-slide">
							include _item-product.jade
						</div>
						<div class="swiper-slide">
							include _item-product.jade
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="slider_products_wr">
		<div class="block_inner">
			<div class="title">
				<div class="name_title">Подушки</div>
				<div class="more_link">
					<a href="" class="btn_button_white">Смотреть все</a>
				</div>
			</div>
			<div class="inner">
				<div class="swiper_arrow">
					<div class="swiper_arrow_btn swiper-pr-prev"></div>
					<div class="swiper_arrow_btn swiper-pr-next"></div>
				</div>
				<div class="swiper mySwiper_product_pr" data-id="mySwiper_product_pr">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							include _item-product.jade
						</div>
						<div class="swiper-slide">
							include _item-product.jade
						</div>
						<div class="swiper-slide">
							include _item-product.jade
						</div>
						<div class="swiper-slide">
							include _item-product.jade
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="prem_block_wr">
		<div class="block_inner">
			<div class="swiper mySwiper_prem" data-id="mySwiper_prem">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="icon">
							<img src="files/preim1.svg" alt="">
						</div>
						<div class="text">Пошив производится в филиалах Германии, Гонконга</div>
					</div>
					<div class="swiper-slide">
						<div class="icon">
							<img src="files/preim2.svg" alt="">
						</div>
						<div class="text">Пошив продукции по европейским стандартам качества</div>
					</div>
					<div class="swiper-slide">
						<div class="icon">
							<img src="files/preim3.svg" alt="">
						</div>
						<div class="text">Получите товары без предоплаты</div>
					</div>
					<div class="swiper-slide">
						<div class="icon">
							<img src="files/preim4.svg" alt="">
						</div>
						<div class="text">Вся продукция проходит контроль качества в ручную</div>
					</div>
					<div class="swiper-slide">
						<div class="icon">
							<img src="files/preim1.svg" alt="">
						</div>
						<div class="text">Вся продукция проходит контроль качества в ручную</div>
					</div>
				</div>
			</div>
			<div class="swiper_arrow">
				<div class="swiper_arrow_btn swiper-prem-prev"></div>
				<div class="swiper-prem-pagination"></div>
				<div class="swiper_arrow_btn swiper-prem-next"></div>
			</div>
		</div>
	</div>
	<div class="confidence_block_wr">
		<div class="block_inner">
			<div class="title">Доверие покупателей с 2009 года</div>
			<div class="inner">
				<div class="item">
					<div class="icon">
						<img src="files/pr1.svg" alt="">
					</div>
					<div class="right">
						<div class="name">Доставка по Узбекистану</div>
						<div class="body">После вашей заявки, мы перезвоним и сообщим точный срок доставки</div>
					</div>
				</div>
				<div class="item">
					<div class="icon">
						<img src="files/pr2.svg" alt="">
					</div>
					<div class="right">
						<div class="name">Только качественные материалы</div>
						<div class="body">Наше белье не выцветает после стирки, не линяет и не теряет формы</div>
					</div>
				</div>
				<div class="item">
					<div class="icon">
						<img src="files/pr3.svg" alt="">
					</div>
					<div class="right">
						<div class="name">Оплата при получении заказа</div>
						<div class="body">Если товар не соответствует заявленному качеству, можете не платить</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="order_to_block_wr">
		<div class="block_inner">
			<div class="left">
				<div class="title">Как заказать?</div>
				<ul>
					<li>Нажмите кнопку "Заказать" у товара, заполните поля Имя и Телефон и нажмите кнопку "Заказать"</li>
					<li>Наш менеджер свяжется с Вами в течении 30-40 минут</li>
					<li>Согласует сроки доставки и комплектацию заказа</li>
					<li>Мы доставляем и Вы оплачиваете заказ при получении курьеру</li>
				</ul>
			</div>
			<div class="right">
				<img src="files/or.jpg" alt="">
			</div>
		</div>
	</div>
	<div class="btn_questions_wr">
		<div class="block_inner">
			<div class="left">
				<div class="title">Остались вопросы?</div>
				<div class="subtitle">Свяжитесь с нами удобным способом</div>
			</div>
			<div class="phone">
				<a href="tel:+998 (78) 122-09-88">+998 (78) 122-09-88</a>
			</div>
			<div class="soc_block">
				<a href="#">
					<img src="files/tg.svg" alt="">
				</a>
				<a href="#">
					<img src="files/fb.svg" alt="">
				</a>
				<a href="#">
					<img src="files/ins.svg" alt="">
				</a>
			</div>
			<a href="#" class="btn_button" data-fancybox data-src="#application_submit">Оставить заявку</a>
		</div>
	</div>
	<div class="about_block_wr">
		<div class="block_inner">
			<div class="inner">
				<div class="title">О нас</div>
				<div class="body">
					<p>Наша компания родилась в 2009 году 12 августа!Нашей целью, как и 13 лет назад, является привнесение в дом не просто комфорта, а настоящего уюта, создание атмосферы, в которой каждый человек чувствует себя защищённым и счастливым.</p>
					<p>При выборе продукции мы руководствуемся принципом трёх главных правил <strong>Linens Textile Studio:</strong> качество, дизайн и комфорт. Выполняем ваши ожидания. В любом случае – мы всегда на вашей стороне.</p>
					<p>Стараемся отправить в максимально короткие сроки заказанную Вами продукцию, потому как сами не любим ждать. Ведь довольный и счастливый клиент, который станет постоянным посетителем и покупателем – цель и основа нашего бизнеса.</p>
				</div>
			</div>
		</div>
	</div>		
include _footer.jade