include _header_inner.jade
	<div class="product_page_main">
		<div class="block_inner">
			<div class="left_images">
				<div class="labels">
					<div class="label_left">
						<div class="spes">Хит продаж</div>
						<div class="new">NEW</div>
					</div>
					<div class="discount">18%</div>
				</div>
				<div class="swiper mySwiper_product_image_main" data-id="mySwiper_product_image_main">
					<div class="swiper_arrow">
						<div class="swiper_arrow_btn swiper-prod-prev"></div>
						<div class="swiper_arrow_btn swiper-prod-next"></div>
					</div>
					<div class="swiper-wrapper">
						<div class="swiper-slide" data-fancybox="pro__item" href="files/prod.jpg">
							<img src="files/prod.jpg" loading="lazy" alt="">
						</div>
						<div class="swiper-slide" data-fancybox="pro__item" href="files/prod.jpg">
							<img src="files/prod.jpg" loading="lazy" alt="">
						</div>
						<div class="swiper-slide" data-fancybox="pro__item" href="files/prod.jpg">
							<img src="files/prod.jpg" loading="lazy" alt="">
						</div>
					</div>
					<div class="swiper-pagination_pr"></div>
				</div>
				<div class="video_btn" data-fancybox="video__item" href="https://youtu.be/_CL6n0FJZpk"></div>
			</div>
			<div class="right_detals">
				<h1 class="product_name">Комплект из 2-х подушек 10147</h1>
				<div class="params">
					<ul>
						<li>
							<div class="icon">
								<img src="files/quality.svg" alt="">
							</div>
							<strong>Производство:</strong>
							<i></i>
							<span>Германия</span>
						</li>
						<li>
							<div class="icon">
								<img src="files/roll.svg" alt="">
							</div>
							<strong>Материал:</strong>
							<i></i>
							<span>Стеганный супер-сатин 100% ХБ</span>
						</li>
						<li>
							<div class="icon">
								<img src="files/filler.svg" alt="">
							</div>
							<strong>Наполнитель:</strong>
							<i></i>
							<span>Холофайбер + силиконом</span>
						</li>
					</ul>
				</div>
				<div class="ath_link">
					<a href="#paramsBlock" class="description_link button_id">Читать описание</a>
					<a href="#paramsBlock" class="comments_link button_id">Комментарии (2)</a>
				</div>
				<div class="price">
					<div class="name">Цена</div>
					<div class="old_price">230 000</div>
					<div class="current_price">230 000 <span>сум</span></div>
				</div>
				<div class="btns_product">
					<div class="btn_button">Заказать</div>
					<a href="" class="tg_button">Заказать через Telegram</a>
				</div>
				<div class="buy_info">
					<div class="info">Купили 2 863 раза</div>
					<div class="stock">В наличии 32 шт</div>
				</div>
			</div>	
		</div>
	</div>
	<div class="preim_block_wr product_page_preim">
		<div class="block_inner">
			<div class="item">
				<div class="icon">
					<img src="files/cup.svg" alt="">
				</div>
				<div class="text">
					<div class="name">Более 200 положительных отзывов!</div>
					<a href="">Читать все</a>
				</div>
			</div>
			<div class="item">
				<div class="icon">
					<img src="files/duo-delivery.svg" alt="">
				</div>
				<div class="text">
					<div class="name">Доставка по Узбекистану 3-7 дней</div>
					<div class="body">При заказе от 500 000 сум доставим бесплатно</div>
				</div>
			</div>
			<div class="item">
				<div class="icon">
					<img src="files/duo-card-pay.svg" alt="">
				</div>
				<div class="text">
					<div class="name">Оплата при получении заказа</div>
					<div class="body">Если товар не соответствует заявленному качеству, можете не платить</div>
				</div>
			</div>
		</div>
	</div>	
	<div class="white_block_wr question_answer_block product_page_white" id="paramsBlock">
		<div class="block_inner">
			<div class="left">
				<div class="tab_product">
					<ul class="tabs-title">
						<li class="active" data-descript>Описание товаров</li>
						<li>Характеристики</li>
						<li data-comments>Комментарии (2)</li>
					</ul>
					<div class="tabs-block">
						<div class="tabs-b active">
							<p>Холлофайбер – это современный синтетический материал. Его волокна представляют собой спирали, которые, соприкасаясь друг с другом, образуют полости.</p>
							<ul>
								<li>Изделия очень легкие</li>
								<li>Наполнитель равномерно распределяется внутри наперника, не сбивается в комки. Он отлично принимает форму головы и тела</li>
								<li>Срок эксплуатации подушек с холлофайбером довольно длительный. Они смогут прослужить вам несколько лет.</li>
								<li>Наполнитель не вызывает аллергии.</li>
								<li>Холлофайбер отлично пропускает воздух.</li>
								<li>В уходе такие подушки не создадут проблем. Их можно даже стирать.</li>
							</ul>
						</div>
						<div class="tabs-b">
							<p>Холлофайбер – это современный синтетический материал. Его волокна представляют собой спирали, которые, соприкасаясь друг с другом, образуют полости.</p>
							<div class="params">
								<ul>
									<li>
										<strong>Производство:</strong>
										<i></i>
										<span>Германия</span>
									</li>
									<li>
										<strong>Материал:</strong>
										<i></i>
										<span>Стеганный супер-сатин 100% ХБ</span>
									</li>
									<li>
										<strong>Наполнитель:</strong>
										<i></i>
										<span>Холофайбер + силиконом</span>
									</li>
								</ul>
										</div>	
						</div>
						<div class="tabs-b">
							<div class="question_answer_main">
								<div class="question_answer">
									<div class="question_block">
										<div class="icon">
											<img src="files/customer-ava.svg" alt="">
										</div>
										<div class="right">
											<span class="name">Feruza</span><span class="time">10.10.2022, 14:29</span>
											<div class="body">Podushkala yumshokmi manga aynan judayan shunshok kk</div>
										</div>
									</div>
									<div class="answer_block">
										<div class="icon">
											<img src="files/customer-logo.svg" alt="">
										</div>
										<div class="right">
											<span class="name">Менеджер Linens</span><span class="time">10.10.2022, 14:29</span>
											<div class="body">Салом, Feruza. Ха подушкаларимиз йумшок. Телефон номеризи йозворин, менеджермиз телефон клади сизга</div>
										</div>
									</div>
									<div class="question_block">
										<div class="icon">
											<img src="files/customer-ava.svg" alt="">
										</div>
										<div class="right">
											<span class="name">Feruza</span><span class="time">10.10.2022, 14:29</span>
											<div class="body">Podushkala yumshokmi manga aynan judayan shunshok kk</div>
										</div>
									</div>
								</div>
							</div>
							<div class="question_answer_form">
								<form action="">
									<div class="title_form">Написать комментарий</div>
									<div class="field">
										<div class="field_name">Имя:</div>
										<input type="text" placeholder="Мадина">
									</div>
									<div class="field">
										<div class="field_name">Комментарий:</div>
										<textarea name="" placeholder="Текст комментария" id="" cols="30" rows="10"></textarea>
									</div>
									<div class="capcha">
										<div class="image">
											<img src="files/capcha.jpg" alt="">
										</div>
										<div class="field">
											<div class="field_name">Введите число с картинки:</div>
											<input type="text" placeholder="Мадина">
										</div>
									</div>
									<input type="submit" value="Отправить" class="btn_button">
								</form>
							</div>
						</div>
					</div>
				</div>				
			</div>
			<div class="right">
				<div class="btn_questions_wr">
					<div class="block_inner">
						<div class="left">
							<div class="title">Остались вопросы?</div>
							<div class="subtitle">Свяжитесь с нами удобным способом</div>
						</div>
						<div class="phone">
							<a href="tel:+998 (78) 122-09-88">+998 (78) 122-09-88</a>
						</div>
						<div class="soc_block">
							<a href="#">
								<img src="files/tg.svg" alt="">
							</a>
							<a href="#">
								<img src="files/fb.svg" alt="">
							</a>
							<a href="#">
								<img src="files/ins.svg" alt="">
							</a>
						</div>
						<div class="btn_button" data-fancybox data-src="#application_submit">Оставить заявку</div>
					</div>
				</div>
			</div>							
		</div>
	</div>
	<div class="slider_products_wr">
		<div class="block_inner">
			<div class="title">
				<div class="name_title">С этим товаром покупают</div>
				<div class="more_link">
					<a href="" class="btn_button_white">Смотреть все</a>
				</div>
			</div>
			<div class="inner">
				<div class="swiper_arrow">
					<div class="swiper_arrow_btn swiper-pr-prev"></div>
					<div class="swiper_arrow_btn swiper-pr-next"></div>
				</div>
				<div class="swiper mySwiper_product_pr swiper-sldier-block" data-arrow="pr" data-id="mySwiper_product_pr">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							include _item-product.jade
						</div>
						<div class="swiper-slide">
							include _item-product.jade
						</div>
						<div class="swiper-slide">
							include _item-product.jade
						</div>
						<div class="swiper-slide">
							include _item-product.jade
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="prem_block_wr">
		<div class="block_inner">
			<div class="swiper mySwiper_prem" data-id="mySwiper_prem">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="icon">
							<img src="files/preim1.svg" loading="lazy" alt="">
						</div>
						<div class="text">Пошив производится в филиалах Германии, Гонконга</div>
					</div>
					<div class="swiper-slide">
						<div class="icon">
							<img src="files/preim2.svg" loading="lazy" alt="">
						</div>
						<div class="text">Пошив продукции по европейским стандартам качества</div>
					</div>
					<div class="swiper-slide">
						<div class="icon">
							<img src="files/preim3.svg" loading="lazy" alt="">
						</div>
						<div class="text">Получите товары без предоплаты</div>
					</div>
					<div class="swiper-slide">
						<div class="icon">
							<img src="files/preim4.svg" loading="lazy" alt="">
						</div>
						<div class="text">Вся продукция проходит контроль качества в ручную</div>
					</div>
					<div class="swiper-slide">
						<div class="icon">
							<img src="files/preim1.svg" loading="lazy" alt="">
						</div>
						<div class="text">Вся продукция проходит контроль качества в ручную</div>
					</div>
				</div>
			</div>
			<div class="swiper_arrow">
				<div class="swiper_arrow_btn swiper-prem-prev"></div>
				<div class="swiper-prem-pagination"></div>
				<div class="swiper_arrow_btn swiper-prem-next"></div>
			</div>
		</div>
	</div>
	<div class="slider_products_wr">
		<div class="block_inner">
			<div class="title">
				<div class="name_title">Похожие товары</div>
				<div class="more_link">
					<a href="" class="btn_button_white">Смотреть все</a>
				</div>
			</div>
			<div class="inner">
				<div class="swiper_arrow">
					<div class="swiper_arrow_btn swiper-hit-prev"></div>
					<div class="swiper_arrow_btn swiper-hit-next"></div>
				</div>
				<div class="swiper mySwiper_product_hit swiper-sldier-block" data-arrow="hit" data-id="mySwiper_product_hit">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							include _item-product.jade
						</div>
						<div class="swiper-slide">
							include _item-product.jade
						</div>
						<div class="swiper-slide">
							include _item-product.jade
						</div>
						<div class="swiper-slide">
							include _item-product.jade
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="review_block_wr">
		<div class="block_inner">
			<div class="title">Отзывы</div>
			<div class="subtitle">Нам доверяют более 5000 клиентов</div>
			<div class="inner">
				<div class="swiper_arrow">
					<div class="swiper_arrow_btn swiper-review-prev"></div>
					<div class="swiper_arrow_btn swiper-review-next"></div>
				</div>
				<div class="swiper mySwiper_reviews" data-id="mySwiper_reviews">
					<div class="swiper-wrapper">
						<div class="swiper-slide" data-fancybox="service__item" href="files/review1.jpg">
							<div class="zoom_text">Увеличить</div>
							<img src="files/review1.jpg" loading="lazy" alt="service1">
						</div>
						<div class="swiper-slide" data-fancybox="service__item" href="files/review2.jpg">
							<div class="zoom_text">Увеличить</div>
							<img src="files/review2.jpg" loading="lazy" alt="service1">
						</div>
						<div class="swiper-slide" data-fancybox="service__item" href="files/review3.jpg">
							<div class="zoom_text">Увеличить</div>
							<img src="files/review3.jpg" loading="lazy" alt="service1">
						</div>
						<div class="swiper-slide" data-fancybox="service__item" href="files/review1.jpg">
							<div class="zoom_text">Увеличить</div>
							<img src="files/review1.jpg" loading="lazy" alt="service1">
						</div>
						<div class="swiper-slide" data-fancybox="service__item" href="files/review1.jpg">
							<div class="zoom_text">Увеличить</div>
							<img src="files/review1.jpg" loading="lazy" alt="service1">
						</div>
					</div>
				</div>
			</div>
			<div class="more_link">
				<a href="" class="btn_button_white">Смотреть все</a>
			</div>
		</div>
	</div>
	<div class="order_to_block_wr" style="padding-top:0;">
		<div class="block_inner">
			<div class="left">
				<div class="title">Как заказать?</div>
				<ul>
					<li>Нажмите кнопку "Заказать" у товара, заполните поля Имя и Телефон и нажмите кнопку "Заказать"</li>
					<li>Наш менеджер свяжется с Вами в течении 30-40 минут</li>
					<li>Согласует сроки доставки и комплектацию заказа</li>
					<li>Мы доставляем и Вы оплачиваете заказ при получении курьеру</li>
				</ul>
			</div>
			<div class="right">
				<img src="files/or.jpg" alt="">
			</div>
		</div>
	</div>
	<div class="btn_questions_wr">
		<div class="block_inner">
			<div class="left">
				<div class="title">Остались вопросы?</div>
				<div class="subtitle">Свяжитесь с нами удобным способом</div>
			</div>
			<div class="phone">
				<a href="tel:+998 (78) 122-09-88">+998 (78) 122-09-88</a>
			</div>
			<div class="soc_block">
				<a href="#">
					<img src="files/tg.svg" loading="lazy" alt="">
				</a>
				<a href="#">
					<img src="files/fb.svg" loading="lazy" alt="">
				</a>
				<a href="#">
					<img src="files/ins.svg" loading="lazy" alt="">
				</a>
			</div>
			<div class="btn_button" data-fancybox data-src="#application_submit">Оставить заявку</div>
		</div>
	</div>
include _footer.jade